{% extends "inventory/base.html" %}

{% block title %}Редактировать {{ manufacturing.name }}{% endblock %}

{% block content %}
<h1>Редактировать "{{ manufacturing.name }}"</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <button type="submit" class="btn btn-success">Сохранить изменения</button>
    <a href="{% url 'manufacturing_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}