{% extends "inventory/base.html" %}


{% block content %}
  <h1> Активные запросы </h1>


{% for req in pending_requests %}
  <div class="card mb-3">
    <div class="card-body">
      {% if req.consumable %}
        <h5>Плата: {{ req.consumable.name }} ({{ req.consumable.modification|default:"—" }})</h5>
      {% elif req.fastener %}
        <h5>Крепёж: {{ req.fastener.name }}</h5>
      {% endif %}
      <p>Запросил: {{ req.requested_by.username }} | Кол-во: {{ req.quantity }}</p>
      <a href="{% url 'issue_request' req.id %}" class="btn btn-primary">Выдать</a>
    </div>
  </div>
{% endfor %}
{% endblock %}