{% extends "inventory/base.html" %}

{% block title %}Запрос расходника{% endblock %}

{% block content %}
  <h1>Запрос {{consumable.name}} {{ consumable.model }}"</h1>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.quantity.label_tag }}
      {{ form.quantity }}
      {% if form.quantity.errors %}
        <div class="text-danger">{{ form.quantity.errors }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-success">Запросить</button>
    <a href="{% url 'consumables_list' %}" class="btn btn-secondary">Отмена</a>
  </form>
{% endblock %}